
body {margin: 8px;
    display: block;
background-color: black;
}

#mainHeading{
    
    color: red;
}
article{color:antiquewhite;
padding: 100px;
border: 7px purple
}

.image {
    border: 3px;
    border-color: greenyellow;
}
.funParagraph, #testP{
    color: green;
}